
<!-- end of about section -->
<!-- technical-skill section -->
<section class="section" id="technical-skill">
  <div class="container text-center">
    <p class="section-subtitle">What I Do ?</p>
    <h6 class="section-title mb-6">Technical Skills</h6>
    <!-- row -->
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="service-card">
          <div class="body">
            <img
              src="assets/imgs/pencil-case.svg"
              alt="Angular Frontend Development"
              class="icon"
            />
            <h6 class="title ">Frontend Development</h6>
<p class="subtitle ">
  Skilled in building responsive apps with Angular, TypeScript, HTML, CSS, JavaScript, focusing on UI/UX.
</p>


          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="service-card">
          <div class="body">
            <img
              src="assets/imgs/responsive.svg"
              alt="Backend Development & API Integration"
              class="icon"
            />
            <h6 class="title">Backend Integration</h6>
            <br>
            <p class="subtitle">
             Skilled in integrating front-end with ASP.NET Web API and PHP backends, handling RESTful APIs and data applications.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="service-card">
          <div class="body">
            <img
              src="assets/imgs/toolbox.svg"
              alt="DevOps & Collaboration"
              class="icon"
            />
            <h6 class="title">DevOps & CI/CD</h6>
            <p class="subtitle">
              Proficient in GitLab, Jenkins, and Docker for CI/CD automation, ensuring efficient, production-ready deployments.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="service-card">
          <div class="body">
            <img
              src="assets/imgs/analytics.svg"
              alt="IT Support & System Administration"
              class="icon"
            />
            <h6 class="title">IT Support & Systems</h6>
            <p class="subtitle">
     Experience in system maintenance, LAN/WAN setup, CCTV configuration, and Windows Server troubleshooting
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- end of row -->
  </div>
</section>
