<!-- Blog Section -->
<section class="section" id="blog">
  <div class="container text-center">
    <p class="section-subtitle">Insights, Case Studies & Learning</p>
    <h6 class="section-title mb-6">Blog</h6>

    <div class="blog-card" *ngFor="let blog of blogs; let i = index">
      <div class="blog-card-header">
       <img
  [src]="blog.image"
  class="blog-card-img w-80 h-48 object-cover mx-auto rounded-md"
  [alt]="blog.title"
/>

      </div>

      <div class="blog-card-body">
        <h5 class="blog-card-title">{{ blog.title }}</h5>

<p class="blog-card-caption flex flex-wrap justify-center items-center text-sm text-gray-500 space-x-3">
  <span class="flex items-center gap-1">
    <i class="ti-user text-gray-400"></i>
    <span class="font-medium text-gray-700 hover:text-blue-600 transition-colors">Biruk Mulualem</span>
  </span>
  <span class="text-gray-300">|</span>
  <span class="flex items-center gap-1">
    <i class="ti-settings text-gray-400"></i>
    <span class="font-medium text-gray-700 hover:text-blue-600 transition-colors">{{ blog.tags }}</span>
  </span>
  <span class="text-gray-300">|</span>
  <span class="flex items-center gap-1">
    <i class="ti-calendar text-gray-400"></i>

        <span class="font-medium text-gray-700 hover:text-blue-600 transition-colors">{{ blog.dates}}</span>
  </span>
</p>


        <p>{{ blog.preview }}</p>

        <!-- Expanded Content -->
        <div *ngIf="blog.expanded" [innerHTML]="blog.content"></div>

        <a
          href="javascript:void(0)"
          class="blog-card-link"
          (click)="toggleBlog(i)"
        >
          {{ blog.expanded ? 'Read less' : 'Read more' }}
          <i
            class="ti-angle-double-right"
            *ngIf="!blog.expanded"
          ></i>
          <i
            class="ti-angle-double-up"
            *ngIf="blog.expanded"
          ></i>
        </a>
      </div>
    </div>
  </div>
</section>
